.parent{
    background-color:antiquewhite;
    height:500px;
    width:700px;
    border:solid;
    display:flex;
    justify-content: center;
    align-items:center;
}

.child{
    background-color:rgb(138, 138, 224);
    width:100px;
    height:100px;    
    color:white;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    
}